#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    combos {
        compatible = "zmk,combos";
        combo_studio_unlock {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&studio_unlock>;
        };
    };
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
			bindings = <
		        &bootloader                                                &kp SPACE
                &rgb_ug RGB_TOG     &kp SLASH           &kp STAR           &kp MINUS      
                &kp N7              &kp N8              &kp N9   
                &kp N4              &kp N5              &kp N6             &kp PLUS 
                &kp N1              &kp N2              &kp N3 
                &kp N0              &kp DOT             &kp ENTER
			>;			
		};

		right {
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
			bindings = <
		        &bootloader                                                &kp SPACE
                &rgb_ug RGB_TOG     &kp SLASH           &kp STAR           &kp MINUS      
                &kp N7              &kp N8              &kp N9   
                &kp N4              &kp N5              &kp N6             &kp PLUS 
                &kp N1              &kp N2              &kp N3 
                &kp N0              &kp DOT             &kp ENTER
			>;
		};

		left {
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
			bindings = <
		        &bootloader                                                &kp SPACE
                &rgb_ug RGB_TOG     &kp SLASH           &kp STAR           &kp MINUS      
                &kp N7              &kp N8              &kp N9   
                &kp N4              &kp N5              &kp N6             &kp PLUS 
                &kp N1              &kp N2              &kp N3 
                &kp N0              &kp DOT             &kp ENTER
			>;
		};

		control {
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
			bindings = <
		        &bootloader                                                &kp SPACE
                &rgb_ug RGB_TOG     &kp SLASH           &kp STAR           &kp MINUS      
                &kp N7              &kp N8              &kp N9   
                &kp N4              &kp N5              &kp N6             &kp PLUS 
                &kp N1              &kp N2              &kp N3 
                &kp N0              &kp DOT             &kp ENTER
			>;
		};
	};
};
